html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

button {
    font-size: 50px;
    border: none;
    background-color: blue;
    color: white;
    height: 1.5em;
    margin: 1em;
}

#button-container {
    height: 50%;
    align-items: flex-end;
}

#commentary {
    align-items: flex-start;
    font-size: 25px;
    white-space: pre-line;
}

#result {
    align-items: flex-start;
    font-size: 25px;
    white-space: pre-line;
}
